<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/x-icon" href="assets/daps.png" />
    <title>daps</title>

    <style>
        html{
            scroll-behavior: smooth;
        }

        body{
            font-family: 'Varela Round', sans-serif;
        }

        a{
            color:#3F3D56 !important;
        }

        .active {
           color: orange !important;
        }

        h1{
            text-align: center;
        }

        .header{
            text-align: center;
            background-color:#F2F2F2;
            min-height: 800px;
        }

        .contact{
            text-align: center;
            background-color:#F2F2F2;
            min-height: 800px;
        }

        .footer{
            text-align: center;
            color: white;
            background-color:#3F3D56;
            height: 160px;
        }

        .btn-circle-lg { 
            width: 70px; 
            height: 70px; 
            padding: 10px 16px; 
            border-radius: 35px; 
            
            text-align: center; 
        } 

        .orange{
            color: orange;
        }      

        .porto-link{
            transition: transform .2s; /* Animation */
        }

        .porto-link:hover{
            transform: scale(1.2);
        }  

        .socmed{
            color: white !important;
        }

    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="#"><span style="color: orange">da</span>ps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="#" id="nav-home" v-on:click="scrollTo">Home</a>
            <a class="nav-item nav-link" href="#" id="nav-features" v-on:click="scrollTo">Portfolio</a>
            <a class="nav-item nav-link" href="#" id="nav-contact" v-on:click="scrollTo">Skills</a>            
            </div>
        </div>
    </nav>
    
    <div class="header mb-5 d-flex align-items-center" id="header"> 
        <div class="container">   
            <div class="row">
                <div class="col">
                    <img src="./assets/img_avatar2.png" style="border-radius: 50%;" alt="" width="240">                    
                </div>
                <div class="col mt-5">
                    <h1>Muhammad Daffa Fikri</h1>       
                    <div style="background-color: orange; width: 100%; height: 5px; border-radius: 25px;"></div>   
                    <br/>                 
                    <p>
                        I am eager to learn and enjoy overcoming challenges in order to grow and further improve my Software Engineering skills. 
                        I have an interest in Programming, Graphic Design, 
                        Game Development, and Networking.
                    </p>
                </div>
            </div>
            
        </div>       
    </div>
    
    
    <div class="container" id="feature">
        <h1 class="m-5">Portfolio</h1>
        <div class="row m-3 ilu">

            <a class="col-md-6 col-sm-12 p-5 porto-link" href="https://pokelist99.herokuapp.com/" target="_blank">
                <div class="row mb-2">
                    <div class="col text-center orange">
                        <i class="fas fa-shopping-cart fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        Shopping Cart App
                    </div>
                </div>
            </a>      
                          
            <a class="col-md-6 col-sm-12 p-5 porto-link" href="http://ngobrolkuy.herokuapp.com/" target="_blank">
                <div class="row mb-2">
                    <div class="col text-center orange">
                        <i class="fa fa-comment fa-4x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        Chat App         
                    </div>
                </div>
            </a>      
            
            <a class="col-md-6 col-sm-12 p-5 porto-link" id="porto1" href="http://tele-port.surge.sh/" target="_blank">
                <div class="row mb-2">
                    <div class="col text-center orange">
                        <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        Single Landing Page                    
                    </div>
                </div>
            </a>    
            
            <a class="col-md-6 col-sm-12 p-5 porto-link" href="http://social-distancing.surge.sh/" target="_blank">
                <div class="row mb-2">
                    <div class="col text-center orange">
                        <i class="fa fa-gamepad fa-4x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        Arcade Survival Game
                    </div>
                </div>
            </a>      
        </div>
        <br/>
        <div class="row m-3 ilu">
            <div class="col text-center">
                <small>Click the link above to show the demo</small>
            </div>
        </div>
        <br/>
        <br/>

    </div>

    <div class="contact  p-3" id="contact">
        <h1 class="m-5">Skills</h1>
        <div class="container ilucontact">            
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <h4>Programming</h4>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tbody>                                
                                <tr v-for="item in data.programming" :key="item.name">
                                    <td align="left" style="width: 180px;">{{item.name}}</td>
                                    <td style="width: 10px;">:</td>
                                    <td class="align-middle">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" :style="'background:orange; width:'+item.percentage" 
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{item.percentage}}</div>
                                        </div>
                                    </td>                                
                                </tr>                      
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block mt-n5">
                    <img src="/assets/programming.svg" alt="https://storyset.com/illustration/programming/rafiki" width="480px">                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-none d-md-block mt-n5">
                    <img src="/assets/database.svg" alt="https://storyset.com/illustration/server/rafiki" width="480px">                    
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <h4>Database</h4>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tbody>                                
                                <tr v-for="item in data.database" :key="item.name">
                                    <td align="left" style="width: 180px;">{{item.name}}</td>
                                    <td style="width: 10px;">:</td>
                                    <td class="align-middle">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" :style="'background:orange; width:'+item.percentage" 
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{item.percentage}}</div>
                                        </div>
                                    </td>                                
                                </tr>                      
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <h4>Framework & Library</h4>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tbody>                                
                                <tr v-for="item in data.framework" :key="item.name">
                                    <td align="left" style="width: 180px;">{{item.name}}</td>
                                    <td style="width: 10px;">:</td>
                                    <td class="align-middle">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" :style="'background:orange; width:'+item.percentage" 
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{item.percentage}}</div>
                                        </div>
                                    </td>                                
                                </tr>                      
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block mt-n5">
                    <img src="/assets/frameworks.svg" alt="https://storyset.com/illustration/javascript-framework/rafiki" width="480px">                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col ml-5">
                    <div class="row">                        
                        <a class="socmed" href="https://www.linkedin.com/in/mdaffafikri" target="_blank">
                            <i class="fab fa-linkedin"></i>
                            LinkedIn
                        </a>
                    </div>
                    <div class="row">
                        <a class="socmed" href="https://github.com/mdaffafikri" target="_blank">
                            <i class="fab fa-github"></i>
                            GitHub
                        </a>
                    </div>
                    <div class="row">
                        <a class="socmed" href="https://www.instagram.com/mdaffafikri/" target="_blank">
                            <i class="fab fa-instagram"></i>
                            Instagram
                        </a>
                    </div>                    
                </div>
    
                <div class="col mr-5">
                    <br/>
                    <div class="row justify-content-end">
                        <small>&copy; mdaffafikri 2021</small>
                    </div>
                    <br/>
                </div>                
            </div>
                    

        </div>
    </div>

    <script>
        var navbar = new Vue({
            el: "#navbar",
            methods: {
                handleScroll : function(){
                    if(window.pageYOffset < 700){
                        document.getElementById("nav-home").classList.add("active")
                        document.getElementById("nav-features").classList.remove("active")
                        document.getElementById("nav-contact").classList.remove("active")
                    }

                    else if(window.pageYOffset > 700 && window.pageYOffset < 1200){
                        document.getElementById("nav-home").classList.remove("active")
                        document.getElementById("nav-features").classList.add("active")
                        document.getElementById("nav-contact").classList.remove("active")
                    }

                    else if(window.pageYOffset > 1200){
                        document.getElementById("nav-home").classList.remove("active")
                        document.getElementById("nav-features").classList.remove("active")
                        document.getElementById("nav-contact").classList.add("active")
                    }
                },

                scrollTo : function(e){
                    e.preventDefault()
                    switch(e.target.id) {
                        case "nav-home":
                            window.scrollTo(0, document.getElementById("header").offsetTop)
                            break;

                        case "nav-features":
                            window.scrollTo(0, document.getElementById("feature").offsetTop-100)
                            break;

                        case "nav-contact":
                            window.scrollTo(0, document.getElementById("contact").offsetTop)
                            break;

                        default:
                            break;
                        } 
                    }
                },                

            created() {
                window.addEventListener('scroll', this.handleScroll)
            },

            destroyed() {
                window.removeEventListener('scroll', this.handleScroll)
            },
        })

        var home = new Vue({
            el: "#header",
            data: {
                teleported: false
            },
            methods:{
                teleport : function(e){ 
                    this.teleported = true
                    if(this.teleported){ 
                        teleportTheBox1.play()
                        teleportTheBox2.play()
                    }
                }
            }
        })
    
        var feature = new Vue({
            el: "#feature",
            data:{
                // test: "",                               
                animated: false
            },

            created() {
                window.addEventListener('scroll', this.handleScroll)
            },

            destroyed() {
                window.removeEventListener('scroll', this.handleScroll)
            },

            methods:{  
                handleScroll: function(e){
                    if(window.pageYOffset > 700 && !this.animated){
                        animateFeatures.play()
                        this.animated = true;
                    }
                },
            }
        })    

        var contact = new Vue({
            el: "#contact",
            data:{
                animated: false,
                data: {
                    programming: [
                        {name: "HTML & CSS", percentage: "90%"},
                        {name: "Javascript", percentage: "85%"},
                        {name: "PHP", percentage: "80%"},
                        {name: "Go", percentage: "40%"},                        
                    ],
                    database:[
                        {name: "MySQL", percentage: "70%"},
                        {name: "PostgreSQL", percentage: "70%"},
                        {name: "OracleSQL", percentage: "60%"},
                    ],
                    framework:[
                        {name: "Laravel", percentage: "75%"},
                        {name: "Codeigniter", percentage: "70%"},
                        {name: "ReactJS", percentage: "75%"},
                        {name: "VueJS", percentage: "25%"},
                        {name: "ExpressJS", percentage: "60%"},
                    ]
                }
            },

            created() {
                window.addEventListener('scroll', this.handleScroll)
            },

            destroyed() {
                window.removeEventListener('scroll', this.handleScroll)
            },

            methods:{  
                handleScroll: function(e){                    
                    if(window.pageYOffset > 1200 && !this.animated){
                        animateContact.play()
                        this.animated = true;
                    }
                },
            }
        })

        var animateFeatures = new anime({
            targets:'.ilu',
            duration: 1000,
            easing:'easeInOutExpo',
            translateX: [-200, 0],
            opacity: [0,1],
            autoplay: false
        })

        var animateContact = new anime({
            targets:'.ilucontact',
            duration: 1000,
            easing:'easeInOutExpo',
            translateX: [-200, 0],
            opacity: [0,1],
            autoplay: false
        })

    </script>

</body>
</html>
